---
openapi: 3.0.2
info:
  description:
    "Moov is a platform that enables developers to integrate all aspects
    of money movement with ease and speed. The Moov API makes it simple for platforms
    to send, receive, and store money. Our API is based upon REST principles, returns
    JSON responses, and uses standard HTTP response codes. To learn more about how
    Moov works at a high level, read our [concepts](https://docs.moov.io/guides/concepts/)
    guide."
  title: Moov API
  version: 1.0.0
servers:
  - url: https://api.moov.io
    description: Production
security:
  - OAuth2Credentials: []
  - AccessToken: []
  - GatewayAuth: []
tags:
  - name: API authentication
    description: |
      For server-to-server communication, use your API key's public key and secret key with Basic authentication. When using Basic authentication, you don't need to send a scope.

      Set the Authorization header to `Basic <credentials>` where credentials is the Base64 encoding of public key and private key joined by a single colon `:`.
  - name: Access token
    description: |
      When making requests to Moov from a browser, you can use OAuth with JSON Web Tokens (JWT).

      Our authentication flow follows the OAuth 2.0 standard. With this endpoint, you'll [create an access token](https://docs.moov.io/guides/quick-start/#create-an-access-token) that you will pass along with API requests or when initializing Moov.js. To generate an authentication token, you’ll need to specify scopes that enable the token to use a specific set of API endpoints. To learn more, read our [scopes guide](https://docs.moov.io/guides/developer-tools/scopes/).
  - name: Accounts
    description:
      "[Accounts](https://docs.moov.io/guides/accounts/) represent a legal
      entity (either a business or an individual) in Moov. You can create an account
      for yourself or set up accounts for others, requesting different [capabilities](https://docs.moov.io/guides/accounts/capabilities/)
      depending on what you need to be able to do with that account. You can retrieve
      an account to get details on the business or individual account holder, such as
      an email address or employer identification number (EIN). \n\nBased on the type
      of account and its requested capabilities, we have certain [verification requirements](https://docs.moov.io/guides/accounts/identity-verification/).
      To see what capabilities that account has, you can use the [GET capability endpoint](https://docs.moov.io/api/#operation/getCapability).
      \n\nWhen you sign up for the Moov Dashboard, you will have a **facilitator account**
      which can be used to facilitate money movement between other accounts. A facilitator
      account will not show up in your list of accounts and cannot be created via API.
      To update your facilitator account information, use the settings page of the Moov
      Dashboard. \n"
  - name: Analytics
    description:
      "You can retrieve helpful at-a-glance information about your account
      by getting metrics on categories such as new accounts, transfer counts, and transfer
      volume over different time periods. To use this endpoint, you must specify the
      `/analytics.read` scope."
  - name: Avatars
    description:
      "You can retrieve an account's profile image. This is especially useful
      if you'd like to use the profile image for a corresponding account in your own
      product."
  - name: Bank accounts
    description:
      "To transfer money with Moov, you’ll need to link a bank account to
      your Moov account, then verify that account. You can link a bank account to a
      Moov account by providing the bank account number, routing number, and Moov account
      ID. \n\nWe require micro-deposit verification to reduce the risk of fraud or unauthorized
      activity. You can verify a bank account by initiating [micro-deposits](https://docs.moov.io/guides/sources/bank-accounts/#micro-deposit-verification),
      sending two small credit transfers to the bank account you want to confirm. Note
      that there is no way to initiate a micro-deposit from your bank of choice. \n\nAlternatively,
      you can link and verify a bank account in one step through an instant account
      verification token from a third party provider like [Plaid](https://docs.moov.io/guides/sources/bank-accounts/plaid)
      or [MX](https://docs.moov.io/guides/sources/bank-accounts/mx/). Bank accounts
      can have the following statuses: `new`, `pending`, `verified`, `verificationFailed`,
      `errored`. Learn more by reading our guide on [bank accounts](https://docs.moov.io/guides/sources/bank-accounts/).\n"
  - name: Capabilities
    description:
      "Capabilities determine what a Moov account can do. Each capability
      has specific [verification requirements](https://docs.moov.io/guides/accounts/identity-verification/),
      depending on risk and compliance standards associated with different account activities.
      For example, there are more information requirements for a business that wants
      to charge other accounts than for an individual who simply wants to receive funds.
      When you request a capability, we list the information requirements for that capability.
      Once you submit the required information, we need to verify the data. Because
      of this, a requested capability may not immediately become active. For more detailed
      information on capabilities and capability IDs, read our [capabilities guide](https://docs.moov.io/guides/accounts/capabilities/)."
  - name: Card issuing
    x-displayName: Cards
    description: |
      A Moov wallet can serve as a funding source for issuing virtual cards. Note that we currently only issue Discover cards. Virtual cards can then be used to spend funds from the wallet.

      <em> The `card-issuing` and `wallet` capabilities are required to be enabled before any card issuing functionality is available. Moov is in a private beta with select customers for card issuing.</em>
  - name: Cards
    description:
      You can link credit or debit cards to Moov accounts. You can use a
      card as a source for making transfers, which charges the card. To link a card
      to a Moov account and avoid some of the burden of PCI compliance, use the [card
      link Moov Drop](https://docs.moov.io/moovjs/drops/card-link). You cannot add a
      card via the Dashboard. If you're linking a card via API, you must provide Moov
      with a copy of your PCI attestation of compliance. When testing cards, use the
      designated [card numbers for test mode](https://docs.moov.io/guides/set-up-your-account/test-mode/#cards).
      You must contact Moov before going live in production with cards. Read our guide
      on [cards](https://docs.moov.io/guides/sources/cards/) for more information.
  - name: Disputes
    description:
      A [dispute](https://docs.moov.io/guides/money-movement/cards/disputes/)
      is a situation where a cardholder formally questions a transaction on their account
      with their card issuer. This could be for a number of reasons ranging from billing
      errors to fraudulent activity or dissatisfactory goods/services. If the dispute
      is recognized as legitimate, the issuer will reverse the payment (otherwise known
      as a chargeback).
  - name: Enriched address
    description: "Search for valid addresses using a partial or full address."
  - name: Enriched profile
    description:
      "By supplying an email address, you can retrieve a profile with enriched
      data fields. This service is offered in collaboration with Clearbit."
  - name: Files
    description:
      "Files can be used for a multitude of different use cases including
      but not limited to, individual identity verification and business underwriting.
      You may need to provide documentation to enable capabilities or to keep capabilities
      enabled for an account. The maximum file size is 10MB. Each account is allowed
      a maximum of 10 files. Acceptable file types include csv, jpg, pdf, and png. To
      learn about uploading files in the Moov Dashboard, read our [file upload guide](https://docs.moov.io/guides/dashboard/accounts/#file-upload)."
  - name: Industries
    description: "Information about industries and their merchant codes."
  - name: Institutions
    description:
      "Lookup ACH and wire participating financial institutions. We recommend
      using this endpoint when an end-user enters a routing number to confirm their
      bank or credit union."
  - name: Money movement
    description: "Transfer allow you Moov money"
  - name: Moov Internal
    description: "Internal Endpoints"
  - name: Payment methods
    description: |
      [Payment methods](https://docs.moov.io/guides/money-movement/payment-methods/) represent all of the ways an account can move funds to another Moov account. Payment methods are generated programmatically when a card or bank account is added or the status is updated e.g., `ach-debit-fund` will be added as a payment method once the bank account is verified.

      <em>RTP® is not yet generally available on Moov. Contact us for more information.</em>
  - name: Representatives
    description:
      "We think of a representative as an individual who can take major actions
      on behalf of a business. A representative can be the business owner, or anyone
      who owns 25% or more of the business. Some examples of representatives are the
      CEO, CFO, COO, or president. We require all business accounts to have valid information
      for at least one representative. Moov accounts must have verified business representatives
      before a business account can send funds, collect money from other accounts, or
      store funds in a wallet. To learn more, read our guide on [business representatives](https://docs.moov.io/guides/accounts/business-representatives/)."
  - name: Transactions
    description:
      "A transaction is a record of a card's activity on a particular Moov
      account."
  - name: Transfers
    description:
      "A [transfer](https://docs.moov.io/guides/money-movement/) is the movement
      of money between Moov accounts, from source to destination. Provided you have
      linked a bank account which has been verified, you can initiate a transfer to
      another Moov account. All you need to do is note a [paymentMethod](#tag/Payment-methods),
      the $ amount of the transfer, and a brief description. With Moov, you can also
      implement transfer groups, allowing you to associate multiple transfers together
      and run them sequentially. To learn more, read our guide on [transfer groups](https://docs.moov.io/guides/money-movement/transfer-groups/#transfer-statuses)."
  - name: Underwriting
    description:
      "[Underwriting](https://docs.moov.io/guides/accounts/underwriting)
      is a tool Moov uses to understand a business’s profile before allowing them to
      collect funds on our platform. This profile includes information like a description
      of the company or the merchant’s business model, the industry they operate in,
      and transaction volume. Through underwriting, we can understand and prevent unnecessary
      financial risk for Moov and those transacting on our platform. Note that underwriting
      can be instant, but in some cases make take around 2 business days before approval.\n"
  - name: Wallet transactions
    description:
      "Wallet transactions provide insight into funds that move in and out
      of an account’s wallet. For each Moov transfer, we create a corresponding transaction
      that represents how that initial source impacted a wallet. Read more about [wallet
      transactions](https://docs.moov.io/guides/wallets/transactions)."
  - name: Wallets
    description: |
      A [Moov wallet](https://docs.moov.io/guides/wallet/) can serve as a funding source as you accumulate funds. You can also use the Moov wallet to:
      - Pre-fund transfers for faster payouts
      - Transfer funds between Moov wallets for instantly available funds

      <em> If you've requested the `send-funds` or `collect-funds` capability, the `wallet` capability will be automatically requested as well. Read more on the [data requirements for wallets here](https://docs.moov.io/guides/accounts/capabilities/#wallet).</em>
x-speakeasy-name-override:
  - operationId: ^get.*
    methodNameOverride: get
  - operationId: ^create.*
    methodNameOverride: create
  - operationId: ^update.*
    methodNameOverride: update
  - operationId: ^delete.*
    methodNameOverride: delete
  - operationId: ^post.*
    methodNameOverride: create
  - operationId: ^revoke.*
    methodNameOverride: revoke
  - operationId: ^patch.*
    methodNameOverride: update
  - operationId: ^put.*
    methodNameOverride: put
  - operationId: ^list.*
    methodNameOverride: list
  - operationId: ^upload.*
    methodNameOverride: upload
  - operationId: ^search.*
    methodNameOverride: search
  - operationId: ^cancel.*
    methodNameOverride: cancel
  - operationId: ^generate.*
    methodNameOverride: generate
  - operationId: ^refund.*
    methodNameOverride: refund
x-tagGroups:
  - name: Authentication
    tags:
      - API authentication
      - Access token
      - Ping
  - name: Moov accounts
    description:
      "The Moov account represents an legal entity. It can be either a company
      or an individual person. Users (which represent a single human) can be assigned
      to a Moov account."
    tags:
      - Accounts
      - Representatives
      - Capabilities
      - Files
      - Underwriting
  - name: Sources
    description:
      "Information about how to add external connections you can use to top
      off your Moov balance or payout the balance of your Moov account."
    tags:
      - Bank accounts
      - Cards
      - Payment methods
  - name: Money movement
    description: "How we move money via Moov."
    tags:
      - Transfers
      - Disputes
  - name: Wallets
    description: "Everything related to holding money."
    tags:
      - Wallets
      - Wallet transactions
  - name: Card issuing
    description:
      "A Moov wallet can serve as a funding source for issuing virtual cards.
      Note that we currently only issue Discover cards. Virtual cards can then be used
      to spend funds from the wallet. \n\n  <em> The `card-issuing` and `wallet` capabilities
      are required to be enabled before any card issuing functionality is available.
      Moov is in a private beta with select customers for card issuing.</em>\n"
    tags:
      - Card issuing
      - Transactions
  - name: Analytics
    description:
      "You can retrieve helpful at-a-glance information about your account
      by getting metrics on categories such as new accounts, transfer counts, and transfer
      volume over different time periods. To use this endpoint, you must specify the
      `/analytics.read` scope. You can also view similar metrics on your [Dashboard
      overview page](https://docs.moov.io/guides/dashboard/)."
    tags:
      - Analytics
  - name: Institution lookup
    description: Look up financial institutions by routing number.
    tags:
      - Institutions
  - name: Enrichment
    description: Fetch additional information about a specific account.
    tags:
      - Avatars
      - Enriched address
      - Enriched profile
      - Industries
paths:
  "/oauth2/token":
    post:
      operationId: postOAuth2Token
      summary: Create access token
      description: Use the client_id and client_secret to generate an access token.
      tags:
        - Access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ClientCredentialsGrantToAccessTokenRequest"
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/ClientCredentialsGrantToAccessTokenRequest"
      responses:
        "200":
          description: Successfully exchanged the code to create a token
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccessTokenResponse"
        "400":
          description: Failure create token
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccessTokenErrorResponse"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/oauth2/revoke":
    post:
      operationId: revokeOAuth2Token
      summary: Revoke access token
      description:
        Allows clients to notify the authorization server that a previously
        obtained refresh or access token is no longer needed
      tags:
        - Access token
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              "$ref": "#/components/schemas/RevokeTokenRequest"
      responses:
        "204":
          "$ref": "#/components/schemas/NoContent"
        "400":
          description: Failed to revoke token
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts":
    get:
      summary: List accounts
      operationId: listAccounts
      description: |
        List or search accounts to which the caller is connected.<br><br>
        All supported query parameters are optional. If none are provided
        the response will include all connected accounts. Pagination is
        supported via the `skip` and `count` query parameters.<br><br>
        Searching by name and email will overlap and return results based on relevance.
        <br><br> To list connected accounts, you must specify the `/accounts.read` scope when retrieving the authentication token.
      tags:
        - Accounts
      parameters:
        - name: name
          in: query
          description: |
            Filter connected accounts by name.<br><br>
            If provided, this query will attempt to find matches against the following Account and Profile fields:
            <ul>
              <li>Account `displayName`</li>
              <li>Individual Profile `firstName`, `middleName`, and `lastName`</li>
              <li>Business Profile `legalBusinessName`</li>
            </ul>
          example: frank
          schema:
            type: string
        - name: email
          in: query
          description: |
            Filter connected accounts by email address.<br><br>
            Provide the full email address to filter by email.
          example: someone@moov.io
          schema:
            type: string
        - name: type
          in: query
          description: |
            Filter connected accounts by AccountType.<br><br>
            If the `type` parameter is used in combination with `name`, only the corresponding type's name fields will be searched.
            For example, if `type=business` and `name=moov`, the search will attempt to find matches against the display name and Business Profile name fields (`legalBusinessName`, and `doingBusinessAs`).
          example: business
          schema:
            "$ref": "#/components/schemas/AccountType"
        - name: foreignID
          in: query
          description:
            "Serves as an optional alias from a foreign/external system which
            can be used to reference this resource

            "
          example: 4528aba-b9a1-11eb-8529-0242ac13003
          schema:
            "$ref": "#/components/schemas/ForeignID"
        - name: verification_status
          in: query
          description: "Filter by the `verificationStatus` of accounts.

            "
          example: resubmit
          schema:
            "$ref": "#/components/schemas/AccountVerificationStatus"
        - name: includeDisconnected
          in: query
          description: |
            Filter disconnected accounts.<br><br>
            If true, the response will include disconnected accounts.
          example: true
          schema:
            type: boolean
        - "$ref": "#/components/parameters/Count"
        - "$ref": "#/components/parameters/Skip"
      responses:
        "200":
          description: All connected accounts matching the filter parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Account"
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    post:
      summary: Create account
      operationId: createAccount
      description:
        You can create accounts for your users by passing the required
        information to Moov. <br><br> Note that `mode` field is only required when
        creating a facilitator account. All non-facilitator account creation requests
        will ignore the mode field provided and be set to the calling facilitator's
        mode. <br><br> If you are creating an account with the business type "llc",
        "partnership", or "privateCorporation", you will need to also provide [business
        representatives](https://docs.moov.io/api/#tag/Representatives) after creating
        the account for verification purposes. Once you've added your business owners
        as representatives, you'll then need to [patch your Moov account](https://docs.moov.io/api/#operation/patchAccount)
        to indicate that ownership information is complete. Read more on our [business
        verification requirements here](https://docs.moov.io/guides/accounts/business-verification/).
        <br><br> When creating an account, you will need to specify the `/accounts.write`
        scope.
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAccountRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Account"
          description: Account created
        "409":
          description: ForeignID already associated with another account
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}":
    get:
      summary: Get account
      operationId: getAccount
      description:
        Retrieves details for the account with the specified ID. <br><br>
        To get an account, you will need to specify the `/accounts/{accountID}/profile.read`
        scope.
      tags:
        - Accounts
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      responses:
        "200":
          description: The created account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Account"
        "404":
          description: No Account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    patch:
      summary: Patch account
      operationId: patchAccount

      description:
        "To patch an account, you must specify the `/accounts/{accountID}/profile.write`
        scope and provide the changed information.  \n\nWhen **can** profile data
        be updated:  \n  + For unverified accounts, all profile data can be edited.\n
        \ + During the verification process, missing or incomplete profile data can
        be edited.\n  + Verified accounts can only add missing profile data.  \n\n
        \ When **can't** profile data be updated:  \n  + Verified accounts cannot
        change any existing profile data.  \n\nIf you need to update information in
        a locked state, please contact Moov support.\n"
      tags:
        - Accounts
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchAccountRequest"
      responses:
        "200":
          description: The patched account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Account"
        "400":
          description: The request body was invalid
        "404":
          description: No Account with the specified accountID was found
        "409":
          description:
            "- Account fields locked due to verification status \n - Account
            type cannot be changed \n - ForeignID already associated with another
            account"
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/tos-token":
    get:
      summary: Get terms of service token
      x-speakeasy-name-override: getTosToken
      operationId: getTermsOfServiceToken
      description:
        Generates a non-expiring token that can then be used to accept
        Moov's terms of service. This token can only be generated via API. Any Moov
        account requesting the `collect-funds`, `send-funds`, `wallet`, or `card-issuing`
        capabilities must accept Moov's terms of service, then have the generated
        terms of service token patched to the account. Read more on our [quick start
        guide](https://docs.moov.io/guides/quick-start/#request-capabilities).
      tags:
        - Accounts
      responses:
        "200":
          description: The newly generated terms of service token
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TermsOfServiceToken"
        "422":
          description:
            Required request headers were missing or contained unprocessable
            data
  "/accounts/{accountID}/countries":
    get:
      summary: Get Account Countries
      operationId: getAccountCountries
      x-speakeasy-name-override: listCountries
      description:
        Retrieve the specified countries of operation for an account. <br><br>
        To get the list of countries, you'll need to specify the `/accounts/{accountID}/profile.read`
        scope.
      tags:
        - Accounts
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      responses:
        "200":
          description: The Requested Countries
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Countries"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    put:
      summary: Assign Account Countries
      operationId: putAccountCountries
      x-speakeasy-name-override: assignCountry
      description:
        Assign the countries of operation for an account. This endpoint
        will always overwrite the previously assigned values. <br><br> To update the
        account countries, you'll need to specify the `/accounts/{accountID}/profile.write`
        scope.
      tags:
        - Accounts
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Countries"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Countries"
          description: countries assigned to account
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/representatives":
    post:
      summary: Create representative
      operationId: createRepresentative
      description:
        Moov accounts associated with businesses require information regarding
        individuals who represent the business. You can provide this information by
        creating a representative. Each account is allowed a maximum of 7 representatives.<br><br>
        To create a representative, you must specify the `/accounts/{accountID}/representatives.write`
        scope.
      tags:
        - Representatives
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateRepresentative"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Representative"
          description: representative created
        "404":
          description: The specified Account or Representative was not found
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    get:
      summary: List representatives
      operationId: listRepresentatives
      description:
        A Moov account may have multiple representatives depending on the
        associated business's ownership and management structure. You can use this
        method to list all the representatives for a given Moov account. Note that
        Moov accounts associated with an individual do not have representatives. <br><br>
        To list representatives, you need to specify the `/accounts/{accountID}/representatives.read`
        scope.
      tags:
        - Representatives
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      responses:
        "200":
          description: Successfully retrieved representatives
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Representative"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/representatives/{representativeID}":
    get:
      summary: Get representative
      operationId: getRepresentative
      description:
        Retrieve a specific representative associated with a given Moov
        account. <br><br> To get a representative, you'll need to specify the `/accounts/{accountID}/representatives.read`
        scope.
      tags:
        - Representatives
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/RepresentativeID"
      responses:
        "200":
          description: The Representative
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Representative"
        "404":
          description: No Representative with the specified representativeID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    delete:
      summary: Delete a representative
      operationId: deleteRepresentative
      description:
        Deletes a business representative associated with a Moov account.
        <br><br> To use this endpoint, you'll need to specify the `/accounts/{accountID}/representatives.write`
        scope.
      tags:
        - Representatives
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/RepresentativeID"
      responses:
        "204":
          description: Representative deleted
        "404":
          description: The specified Account or Representative was not found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    patch:
      summary: Patch representative
      operationId: patchRepresentative
      description:
        "If a representative's information has changed you can patch the
        information associated with a specific representative ID.  \nTo patch a representative,
        you'll need to specify the `/accounts/{accountID}/representatives.write` scope
        and provide the changed information.\n\nWhen **can** profile data be updated:
        \ \n  + For unverified representatives, all profile data can be edited.\n
        \ + During the verification process, missing or incomplete profile data can
        be edited.\n  + Verified representatives can only add missing profile data.
        \ \n\n  When **can't** profile data be updated:  \n  + Verified representatives
        cannot change any existing profile data.  \n\nIf you need to update information
        in a locked state, please contact Moov support.\n"
      tags:
        - Representatives
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/RepresentativeID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchRepresentativeRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Representative"
          description: representative patched
        "404":
          description: The specified account or representative was not found
        "409":
          description: Representative fields locked due to verification status
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/wallets":
    get:
      summary: List wallets
      description:
        List the wallets associated with a Moov account. <br><br> To list
        wallets, you'll need to specify the `/accounts/{accountID}/wallets.read` scope.
      operationId: listWalletsForAccount
      tags:
        - Wallets
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      responses:
        "200":
          description: Wallets associated with the given account
          content:
            application/json:
              schema:
                items:
                  "$ref": "#/components/schemas/Wallet"
                maxItems: 10
                type: array
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/wallets/{walletID}":
    get:
      summary: Get wallet
      description:
        Get information on a specific wallet (e.g., the available balance).
        <br><br> To get wallet information, you'll need to specify the `/accounts/{accountID}/wallets.read`
        scope.
      operationId: getWalletForAccount
      tags:
        - Wallets
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/WalletID"
      responses:
        "200":
          description: Wallets associated with the given account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Wallet"
        "404":
          "$ref": "#/components/schemas/Empty"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/wallets/{walletID}/transactions":
    get:
      summary: List wallet transactions
      description:
        List all the transactions associated with a particular Moov wallet.
        <br><br> To access this endpoint, you'll need to specify the `/accounts/{accountID}/wallets.read`
        scope.
      operationId: listWalletTransactions
      x-speakeasy-name-override: listTransactions
      tags:
        - Wallets
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/WalletID"
        - description: Optional parameter to filter by transaction type
          example: card-payment
          in: query
          name: transactionType
          schema:
            type: string
        - description:
            Optional parameter to filter by source type (i.e. transfer, dispute,
            issuing-transaction)
          example: dispute
          in: query
          name: sourceType
          schema:
            type: string
        - description: Optional parameter to filter by source ID
          example: 9506dbf6-4208-44c3-ad8a-e4431660e1f2
          in: query
          name: sourceID
          schema:
            type: string
        - description: Optional parameter to filter by status (`pending` or `completed`)
          example: pending
          in: query
          name: status
          schema:
            type: string
        - description: Optional parameter to limit the number of results in the query
          example: 10
          in: query
          name: count
          schema:
            default: 20
            type: integer
        - description:
            The number of items to offset before starting to collect the
            result set
          example: 10
          in: query
          name: skip
          schema:
            type: integer
        - in: query
          name: createdStartDateTime
          description:
            Optional date-time which inclusively filters all transactions
            created after this date-time
          schema:
            type: string
            format: ISO-8601
          example: "2009-11-10T23:00:00Z"
        - in: query
          name: createdEndDateTime
          description:
            Optional date-time which exclusively filters all transactions
            created before this date-time
          schema:
            type: string
            format: ISO-8601
          example: "2009-11-13T01:00:00Z"
        - in: query
          name: completedStartDateTime
          description:
            Optional date-time which inclusively filters all transactions
            completed after this date-time
          schema:
            type: string
            format: ISO-8601
          example: "2009-11-10T23:00:00Z"
        - in: query
          name: completedEndDateTime
          description:
            Optional date-time which exclusively filters all transactions
            completed before this date-time
          schema:
            type: string
            format: ISO-8601
          example: "2009-11-13T01:00:00Z"
      responses:
        "200":
          description: Transactions associated with the wallet
          content:
            application/json:
              schema:
                items:
                  "$ref": "#/components/schemas/WalletTransaction"
                maxItems: 100
                type: array
        "404":
          "$ref": "#/components/schemas/Empty"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/wallets/{walletID}/transactions/{transactionID}":
    get:
      summary: Get wallet transaction
      description:
        Get details on a specific wallet transaction. <br><br> To access
        this endpoint, you'll need to specify the `/accounts/{accountID}/wallets.read`
        scope.
      operationId: getWalletTransaction
      x-speakeasy-name-override: getTransaction
      tags:
        - Wallets
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/WalletID"
        - in: path
          name: transactionID
          required: true
          description: ID associated with the wallet transaction.
          schema:
            "$ref": "#/components/schemas/UUID"
      responses:
        "200":
          description: Transaction associated with the wallet
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WalletTransaction"
        "404":
          "$ref": "#/components/schemas/Empty"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/transfers":
    post:
      summary: Create a transfer
      description:
        Move money by providing the source, destination, and amount in
        the request body. <br><br> To create a transfer, you must specify the `/accounts/{yourAccountID}/transfers.write`
        scope. <br> You can find your account id on the [Business details](https://dashboard.moov.io/settings/business)
        page.
      operationId: createTransfer
      tags:
        - Transfers
      parameters:
        - in: header
          name: X-Idempotency-Key
          description:
            Prevents duplicate transfers from being created. Note that we
            only accept UUID v4.
          schema:
            "$ref": "#/components/schemas/UUID"
          required: true
        - in: header
          name: X-Wait-For
          description:
            Optional header that indicates whether to return a synchronous
            response that includes full transfer and rail-specific details or an asynchronous
            response indicating the transfer was created (this is the default response
            if the header is omitted).
          schema:
            "$ref": "#/components/schemas/WaitFor"
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateTransfer"
      responses:
        "200":
          description: Successfully created a transfer
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransferPostResponse"
        "201":
          description:
            A transfer was successfully created but an error occurred while
            generating the synchronous response. The asynchronous response object
            will be returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedTransfer"
        "202":
          description:
            A transfer was successfully created but a timeout occurred
            while waiting for a synchronous response. Rail-specific details may be
            missing from the response object.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetTransferFull"
        "400":
          "$ref": "#/components/schemas/Error"
        "409":
          description:
            Attempted to create a transfer using a duplicate X-Idempotency-Key
            header
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetTransferFull"
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    get:
      summary: List transfers
      description:
        List all the transfers associated with a particular Moov account.
        <br><br> To list transfers, you must specify the `/accounts/{yourAccountID}/transfers.read`
        scope. The accountID included must be your facilitator accountID. <br> You
        can find your accountID on the [Business details](https://dashboard.moov.io/settings/business)
        page. <br><br> When you run this request, you retrieve 200 transfers at a
        time. You can advance past a results set of 200 transfers by using the `skip`
        parameter (for example, if you set `skip`= 10, you will see a results set
        of 200 transfers after the first 2000). If you are searching a high volume
        of transfers, the request will likely process very slowly. To achieve faster
        performance, restrict the data as much as you can by using the `StartDateTime`
        and `EndDateTime` parameters for a limited period of time. You can run multiple
        requests in smaller time window increments until you've retrieved all the
        transfers you need.
      operationId: listTransfers
      tags:
        - Transfers
      responses:
        "200":
          description: List of transfers
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetTransfers"
              examples:
                listTransfers:
                  "$ref": "#/components/examples/listTransfers"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
      parameters:
        - in: query
          name: accountIDs
          schema:
            type: string
          allowReserved: true
          description:
            Optional, comma-separated account IDs in which the response is
            filtered based on whether the account ID is the source or destination.
          example: 9506dbf6-4208-44c3-ad8a-e4431660e1f2,3f9969cf-a1f3-4d83-8ddc-229a506651cf,9fdb70f8-79f5-4016-853e-34c40c3b09b0
        - in: query
          name: status
          schema:
            "$ref": "#/components/schemas/TransferStatus"
          description: Optional transfer status by which to filter the transfers
        - in: query
          name: startDateTime
          schema:
            type: string
            format: ISO-8601
          description:
            Optional date-time which inclusively filters all transfers created
            after this date-time
          example: "2009-11-10T23:00:00Z"
        - in: query
          name: endDateTime
          schema:
            type: string
            format: ISO-8601
          description:
            Optional date-time which exclusively filters all transfers created
            before this date-time
          example: "2009-11-13T01:00:00Z"
        - in: query
          name: groupID
          schema:
            type: string
          description: Optional ID to filter for transfers in the same group
          example: 683660e3-218c-4f5a-b193-930bd6d2f98e
        - "$ref": "#/components/parameters/parameters-Count"
        - "$ref": "#/components/parameters/Skip"
        - in: query
          name: refunded
          schema:
            type: boolean
          description: Optional parameter to only return refunded transfers
          example: false
        - in: query
          name: disputed
          schema:
            type: boolean
          description: Optional parameter to only return disputed transfers
          example: false
  "/transfers/{transferID}":
    parameters:
      - "$ref": "#/components/parameters/parameters-AccountID"
      - "$ref": "#/components/parameters/TransferID"
    get:
      summary: Get a transfer
      description:
        Retrieve full transfer details such as the amount, source, and
        destination. Payment rail-specific details are included in the source and
        destination. <br><br> To get a transfer, you must specify the `/accounts/{yourAccountID}/transfers.read`
        scope. The accountID included must be your facilitator accountID. <br> You
        can find your accountID on the [Business details](https://dashboard.moov.io/settings/business)
        page.
      operationId: getTransfer
      tags:
        - Transfers
      responses:
        "200":
          description: Details of a transfer
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetTransferFull"
              examples:
                bank-to-wallet:
                  "$ref": "#/components/examples/getTransferBankToWallet"
                card-to-wallet:
                  "$ref": "#/components/examples/getTransferCardToWallet"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    patch:
      summary: Patch transfer metadata
      description:
        Update the metadata contained on a transfer <br><br> To patch a
        transfer, you must specify the `/accounts/{yourAccountID}/transfers.write`
        scope. The accountID included must be your facilitator accountID. <br> You
        can find your account ID on the [Business details](https://dashboard.moov.io/settings/business)
        page.
      operationId: patchTransfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PatchTransfer"
      tags:
        - Transfers
      responses:
        "200":
          description: Details of a transfer
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetTransferFull"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/transfer-options":
    post:
      summary: Generate transfer options
      description:
        "Generate available payment method options for one or multiple
        transfer participants depending on the accountID or paymentMethodID you supply
        in the request. <br><br> To get transfer options, you must specify the `/accounts/{yourAccountID}/transfers.read`
        scope. The accountID you include should be associated with the facilitator
        account. <br> You can find your accountID on the [Business details](https://dashboard.moov.io/settings/business)
        page."
      operationId: createTransferOptions
      x-speakeasy-name-override: generateOptions
      tags:
        - Transfers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateTransferOptions"
      responses:
        "200":
          description: Succesfully created transfer options
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedTransferOptions"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/transfers/{transferID}/refunds":
    parameters:
      - "$ref": "#/components/parameters/TransferID"
    post:
      summary: Refund a transfer
      description:
        <strong>Use the <a href="index.html#tag/Transfers/operation/reverseTransfer">Cancel
        or refund a card transfer</a> endpoint for more robust cancel and refund options.</strong>
        <br><br> Initiate a refund for a card transfer <br><br> To initiate a refund,
        you will need to specify the `/accounts/{accountID}/transfers.write` scope.
      operationId: refundTransfer
      
      tags:
        - Transfers
      parameters:
        - in: header
          name: X-Idempotency-Key
          description:
            Prevents duplicate refunds from being created. Note that we only
            accept UUID v4.
          schema:
            "$ref": "#/components/schemas/UUID"
          required: true
        - in: header
          name: X-Wait-For
          description:
            Optional header that indicates whether to return a synchronous
            response that includes the full refund and card transaction details or an
            asynchronous response indicating the refund was created (this is the default
            response if the header is omitted).
          schema:
            "$ref": "#/components/schemas/WaitFor"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateRefund"
      responses:
        "200":
          description: Successfully initiated a card refund
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RefundPostResponse"
              examples:
                sychronous-success:
                  "$ref": "#/components/examples/createSyncRefundSuccess"
                sychronous-failure:
                  "$ref": "#/components/examples/createSyncRefundFailure"
                asychronous:
                  "$ref": "#/components/examples/createAsyncRefund"
        "202":
          description:
            A refund was successfully created but an error occurred while
            waiting for a synchronous response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetRefund"
              examples:
                timeout-created:
                  "$ref": "#/components/examples/createSyncRefundTimeout"
        "400":
          "$ref": "#/components/schemas/Error"
        "409":
          description:
            Attempted to initiate a refund using a duplicate X-Idempotency-Key
            header
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetRefund"
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    get:
      summary: Get a list of refunds for a card transfer
      description: Get a list of refunds for a card transfer
      operationId: listRefunds
      x-speakeasy-name-override: listRefunds
      tags:
        - Transfers
      responses:
        "200":
          description: List of refunds
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetRefunds"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/transfers/{transferID}/refunds/{refundID}":
    parameters:
      - "$ref": "#/components/parameters/TransferID"
      - "$ref": "#/components/parameters/RefundID"
    get:
      summary: Get refund details
      description: Get details of a refund for a card transfer
      operationId: getRefund
      x-speakeasy-name-override: getRefund
      tags:
        - Transfers
      responses:
        "200":
          description: Refund details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetRefund"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/transfers/{transferID}/reversals":
    post:
      summary: Cancel or refund a card transfer
      description:
        Reverses a card transfer by initiating a cancellation or refund
        depending on the transaction status
      operationId: cancelTransfer
      tags:
        - Transfers
      parameters:
        - "$ref": "#/components/parameters/TransferID"
        - in: header
          name: X-Idempotency-Key
          description: Prevents duplicate reversals from being created
          schema:
            "$ref": "#/components/schemas/UUID"
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateReversal"
      responses:
        "200":
          description: Successfully initiated a reversal
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedReversal"
              examples:
                cancellation-success:
                  "$ref": "#/components/examples/createCancellationSuccess"
                refund-success:
                  "$ref": "#/components/examples/createSyncRefundSuccess"
        "202":
          description:
            Successfully initiated a reversal but an error occurred while
            waiting for a synchronous response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedReversal"
        "400":
          description:
            Reversal request failed, an error message will be available
            in the response body.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
              examples:
                reversal-failure:
                  value:
                    error:
                      reversal request failed, please try again with a new idempotency
                      key
        "409":
          description:
            Attempted to initiate a reversal using a duplicate X-Idempotency-Key
            header
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedReversal"
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/bank-accounts":
    post:
      summary: Bank account
      operationId: linkBankAccount
      x-speakeasy-name-override: link
      description:
        Link a bank account to an existing Moov account. <br><br> To use
        this endpoint, you need to specify the `/accounts/{accountID}/bank-accounts.write`
        scope.
      tags:
        - Bank accounts
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BankAccountPayload"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BankAccountResponse"
          description: Bank account added
        "404":
          description: No Account with the specified accountID was found
        "409":
          description:
            "- Unable to get bank name for routing number \n - Duplicate
            bank account"
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    get:
      summary: List bank accounts
      operationId: listBankAccounts
      description:
        List all the bank accounts associated with a particular Moov account.
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/bank-accounts.read`
        scope.
      tags:
        - Bank accounts
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      responses:
        "200":
          description: Successfully retrieved bank accounts
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BankAccounts"
        "404":
          description: No Account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/bank-accounts/{bankAccountID}":
    get:
      summary: Get bank account
      operationId: getBankAccount
      
      description:
        Retrieve bank account details (i.e. routing number or account type)
        associated with a specific Moov account. <br><br> To use this endpoint, you
        need to specify the `/accounts/{accountID}/bank-accounts.read` scope.
      tags:
        - Bank accounts
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/BankAccountID"
      responses:
        "200":
          description: Successfully retrieved bank account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BankAccountResponse"
        "404":
          description: No Account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    delete:
      summary: Delete bank account
      operationId: deleteBankAccount
      
      description:
        Discontinue using a specified bank account linked to a Moov account.
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/bank-accounts.write`
        scope.
      tags:
        - Bank accounts
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/BankAccountID"
      responses:
        "204":
          description: Bank account deleted
        "404":
          description: No bank account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/bank-accounts/{bankAccountID}/micro-deposits":
    post:
      summary: Initiate micro-deposits
      x-speakeasy-name-override: InitiateMicroDeposits
      operationId: postInitiateMicroDeposits
      description:
        Micro-deposits help confirm bank account ownership, helping reduce
        fraud and the risk of unauthorized activity. Use this method to initiate the
        micro-deposit verification, sending two small credit transfers to the bank
        account you want to confirm. If you request micro-deposits before 4:15PM ET,
        they will appear that same day. If you request micro-deposits any time after
        4:15PM ET, they will appear the next banking day. When the two credits are
        initiated, Moov simultaneously initiates a debit to recoup the micro-deposits.<br><br>
        `sandbox` - Micro-deposits initiated for a `sandbox` bank account will always
        be `$0.00` / `$0.00` and instantly verifiable once initiated. <br><br> To
        use this endpoint, you need to specify the `/accounts/{accountID}/bank-accounts.write`
        scope.
      tags:
        - Bank accounts
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/BankAccountID"
      responses:
        "204":
          description: Micro-Deposits Successfully initiated
        "404":
          description: No Account with the specified accountID was found
        "422":
          description:
            The bank account is not a bank account or is already pending
            verification
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    put:
      summary: Complete micro-deposits
      x-speakeasy-name-override: completeMicroDeposits
      operationId: putCompleteMicroDeposits
      description:
        Complete the micro-deposit validation process by passing the amounts
        of the two transfers within three tries. <br><br> To use this endpoint, you
        need to specify the `/accounts/{accountID}/bank-accounts.write` scope.
      tags:
        - Bank accounts
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/BankAccountID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompleteMicroDepositsRequest"
      responses:
        "200":
          description: Micro-Deposits Successfully verified
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompleteMicroDepositsResponse"
        "404":
          description:
            No Account with the specified accountID was found or micro-deposits
            have not been sent for the source.
        "409":
          description:
            The amounts provided are incorrect or the bank account is in
            an unexpected state.
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/cards":
    post:
      summary: Link card
      x-speakeasy-name-override: LinkCard
      operationId: postLinkCard
      description:
        "Link a card to an existing Moov account. Only use this endpoint
        if you have provided Moov with a copy of your PCI attestation of compliance.
        \n<br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/cards.write`
        scope.\n"
      tags:
        - Cards
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - in: header
          name: X-Wait-For
          description:
            Optional header that indicates whether to return a synchronous
            response or an asynchronous response.
          schema:
            "$ref": "#/components/schemas/schemas-WaitFor"
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CardRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Card"
          description: Card linked
        "404":
          description: No account with the specified accountID was found
        "409":
          description: Attempted to link card that already exists on the account
        "422":
          description:
            The supplied card data appeared invalid or was declined by
            the issuer
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                input-validation-failed:
                  value:
                    cardCvv: must contain digits only
                    cardNumber: must be a valid card number
                card-declined:
                  value:
                    error: "card verification failure: card-not-activated"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
      servers:
        - url: https://cards.moov.io/api
          description: Production
    get:
      summary: List cards
      x-speakeasy-name-override: ListCards
      operationId: getListCards
      description:
        List all the cards associated with a Moov account. <br><br> To
        use this endpoint, you need to specify the `/accounts/{accountID}/cards.read`
        scope.
      tags:
        - Cards
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      responses:
        "200":
          description: Successfully retrieved cards
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Cards"
        "404":
          description: No Account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/cards/{cardID}":
    get:
      summary: Get card
      operationId: getCard
      description:
        Fetch a specific card associated with a Moov account. <br><br>
        To use this endpoint, you need to specify the `/accounts/{accountID}/cards.read`
        scope.
      tags:
        - Cards
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/CardID"
      responses:
        "200":
          description: Successfully retrieved card
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Card"
        "404":
          description: No Account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    patch:
      summary: Update card
      operationId: updateCard
      description:
        "Update a Linked Card and/or resubmit it for verification. If a
        value is provided for CVV, \na new verification ($0 authorization) will be
        submitted for the card. Updating the expiration date or \naddress will update
        the information stored on file for the card but will not be verified. \nOnly
        use this endpoint if you have provided Moov with a copy of your PCI attestation
        of compliance. \n<br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/cards.write`
        scope.\n"
      tags:
        - Cards
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/CardID"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CardUpdateRequest"
        required: true
      responses:
        "200":
          description: Card updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Card"
        "404":
          description: No card with the specified accountID was found
        "409":
          description: Attempting to update an existing disabled card
        "422":
          description:
            The supplied card data appeared invalid or was declined by
            the issuer
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                input-validation-failed:
                  value:
                    cardCvv: must contain digits only
                cvv-no-match:
                  value:
                    error: issue with information provided
                card-declined:
                  value:
                    error: "card re-verification failure: do-not-honor"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    delete:
      summary: Disable card
      operationId: deleteCard
      description:
        Disables a card associated with a Moov account. <br><br> To use
        this endpoint, you need to specify the `/accounts/{accountID}/cards.write`
        scope.
      tags:
        - Cards
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/CardID"
      responses:
        "204":
          description: Card disabled
        "404":
          description: No card with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/apple-pay/domains":
    post:
      summary: Register Apple Pay domains
      x-speakeasy-name-override: registerApplePayDomain
      operationId: postApplePayMerchantDomains
      description: |
        Add domains to be registered with Apple Pay.
        <br><br> Any domains that will be used to accept payments must first be [verified](https://docs.moov.io/guides/money-movement/cards/apple-pay/#step-1-register-your-domains) with Apple.
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/apple-pay.write` scope.
      tags:
        - Cards
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RegisterApplePayMerchantDomains"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApplePayMerchantDomains"
          description: Domains registered with Apple Pay
        "400":
          description: The request body was invalid
        "409":
          description: Apple Pay domains already registered for this account
        "417":
          description:
            Domain(s) not [verified](https://docs.moov.io/guides/money-movement/cards/apple-pay/#step-1-register-your-domains)
            with Apple
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    patch:
      summary: Update Apple Pay domains
      x-speakeasy-name-override: updateApplePayDomains
      operationId: updateApplePayMerchantDomains
      description: |
        Add or remove domains to be registered with Apple Pay.
        <br><br> Any domains that will be used to accept payments must first be [verified](https://docs.moov.io/guides/money-movement/cards/apple-pay/#step-1-register-your-domains) with Apple.
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/apple-pay.write` scope.
      tags:
        - Cards
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateApplePayMerchantDomains"
        required: true
      responses:
        "204":
          description: Successfully updated domains registered with Apple Pay
        "400":
          description: The request body was invalid
        "404":
          description: No Apple Pay domains registered for this account were found
        "417":
          description:
            Domain(s) not [verified](https://docs.moov.io/guides/money-movement/cards/apple-pay/#step-1-register-your-domains)
            with Apple
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    get:
      summary: Get Apple Pay domains
      x-speakeasy-name-override: listApplePayDomains
      operationId: getApplePayMerchantDomains
      description: |
        Get domains registered with Apple Pay.
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/apple-pay.read` scope.
      tags:
        - Cards
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApplePayMerchantDomains"
          description: Domains registered with Apple Pay
        "404":
          description: No Apple Pay domains registered for this account were found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/apple-pay/sessions":
    post:
      summary: Create Apple Pay session
      x-speakeasy-name-override: createApplePaySession
      operationId: postApplePaySession
      description: |
        Create a session with Apple Pay to facilitate a payment.
        A successful response from this endpoint should be passed through to Apple Pay unchanged.
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/apple-pay.write` scope.
      tags:
        - Cards
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateApplePaySession"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApplePaySession"
          description: Session created with Apple Pay
        "422":
          description: An error occurred when linking an Apple Pay token
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/apple-pay/tokens":
    post:
      summary: Link Apple Pay token
      x-speakeasy-name-override: LinkApplePayToken
      operationId: postLinkApplePayToken
      description: |
        Connect an Apple Pay token to the specified account.
        The `token` data is defined by Apple Pay and should be passed through from Apple Pay's response unmodified.
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/cards.write` scope.
      tags:
        - Cards
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LinkApplePay"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/LinkedApplePayPaymentMethod"
          description: Apple Pay token linked
        "422":
          description: An error occurred when linking an Apple Pay token
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/network-ids":
    get:
      summary: Get network IDs of an account
      operationId: getNetworkIDs
      x-speakeasy-ignore: true
      description:
        "Retrieves network IDs for the account of the specified ID. \n<br><br>
        To get an account, you will need to specify the `/accounts/{accountID}/profile.read`
        scope.\n"
      tags:
        - Moov Internal
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      responses:
        "200":
          description: The network IDs of the account
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NetworkIDs"
        "404":
          description: No Account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/issuing/{accountID}/issued-cards":
    post:
      summary: Request card
      x-speakeasy-name-override: RequestCard
      operationId: postRequestCard
      description: |
        Request a virtual card be created
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/issued-cards.write` scope.
      tags:
        - Card issuing
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RequestCard"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IssuedCard"
          description: Card created
        "404":
          description: No account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    get:
      summary: List issued cards
      x-speakeasy-name-override: listCards
      operationId: listIssuedCards
      description: |
        List Moov issued cards existing for the account.
        <br><br> All supported query parameters are optional.
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/issued-cards.read` scope.
      tags:
        - Card issuing
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - name: states
          in: query
          description:
            "Optional, comma-separated states to filter the Moov list issued
            cards response.

            "
          example: active,pending-verification
          schema:
            "$ref": "#/components/schemas/IssuedCardState"
        - "$ref": "#/components/parameters/parameters-Count"
        - "$ref": "#/components/parameters/Skip"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IssuedCards"
          description: Successfully retrieved cards
        "404":
          description: No account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/issuing/{accountID}/issued-cards/{issuedCardID}":
    get:
      summary: Get issued card
      operationId: getIssuedCard
      x-speakeasy-name-override: getCard
      description: |
        Retrieve a single issued card associated with a Moov account
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/issued-cards.read` scope.
      tags:
        - Card issuing
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/IssuedCardID"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IssuedCard"
          description: Successfully retrieved card
        "404":
          description: No account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    patch:
      summary: Update issued card
      operationId: updateIssuedCard
      x-speakeasy-name-override: updateCard
      description: |
        Update a Moov issued card
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/issued-cards.write` scope.
      tags:
        - Card issuing
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/IssuedCardID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateIssuedCard"
      responses:
        "200":
          description: Successfully updated issued card
        "404":
          description:
            No issued card with the specified accountID and cardID was
            found.
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/issuing/{accountID}/issued-cards/{issuedCardID}/details":
    get:
      summary: Get full card details
      x-speakeasy-name-override: getCardFullDetails
      operationId: getFullIssuedCard
      description: |
        Get issued card with PAN, CVV, and expiration. Only use this endpoint if you have provided Moov with a copy of your PCI attestation of compliance.
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/issued-cards.read-secure` scope.
      tags:
        - Card issuing
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/IssuedCardID"
      responses:
        "200":
          description: Successfully retrieved card details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FullIssuedCard"
        "404":
          description: |
            No issued card with the specified accountID and cardID was found. An error will be returned
            for cards without PAN or CVV. Pending cards will not have a PAN or CVV.
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/issuing/{accountID}/transactions":
    get:
      summary: Get account transactions
      operationId: listAccountIssuedCardTransactions
      description: "List issued card transactions associated with a Moov account"
      tags:
        - Transactions
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/parameters-Count"
        - "$ref": "#/components/parameters/Skip"
        - name: status
          in: query
          description: Optional parameters to filter results IssuedCardTransactions.
          example: declined
          schema:
            "$ref": "#/components/schemas/IssuedCardTransactionStatus"
      responses:
        "200":
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IssuedCardTransactions"
          description: Successfully retrieved issued card transactions
        "404":
          description: No account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/disputes":
    get:
      summary: List of all disputes
      description: Returns the list of disputes. <br><br> To use this endpoint, you
        need to specify the `/accounts/{your-account-id}/transfers.read` scope.
      operationId: listDisputes
      tags:
      - Disputes
      parameters:
      - "$ref": "#/components/parameters/parameters-Count"
      - "$ref": "#/components/parameters/Skip"
      - in: query
        name: respondStartDateTime
        schema:
          type: string
          format: ISO-8601
        description: Optional date-time which inclusively filters all disputes with
          respond by after this date-time.
        example: '2009-11-10T23:00:00Z'
      - in: query
        name: respondEndDateTime
        schema:
          type: string
          format: ISO-8601
        description: Optional date-time which exclusively filters all disputes with
          respond by before this date-time.
        example: '2009-11-13T01:00:00Z'
      - in: query
        name: status
        schema:
          "$ref": "#/components/schemas/DisputeStatus"
        description: Optional dispute status by which to filter the disputes.
      responses:
        '200':
          description: List of dispute details
          content:
            application/json:
              schema:
                type: array
                maxItems: 300
                items:
                  "$ref": "#/components/schemas/Dispute"
        '429':
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/disputes/{disputeID}":
    get:
      summary: Get Dispute by ID
      description: Returns a user's dispute by ID. <br><br> To use this endpoint,
        you need to specify the `/accounts/{your-account-id}/transfers.read` scope.
      operationId: getDispute
      tags:
        - Disputes
      parameters:
      - in: path
        name: disputeID
        required: true
        description: ID of dispute
        schema:
          "$ref": "#/components/schemas/UUID"
      responses:
        '200':
          description: Dispute details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Dispute"
        '429':
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/files":
    post:
      summary: Upload File
      operationId: uploadFile
      description: Upload a file and link it to the provided Moov account. The maximum
        file size is 10MB. Each account is allowed a maximum of 10 files. Acceptable
        file types include csv, jpg, pdf, and png. <br><br> To use this endpoint,
        you need to specify the `/accounts/{accountID}/files.write` scope.
      tags:
      - Files
      parameters:
      - "$ref": "#/components/parameters/AccountID"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              "$ref": "#/components/schemas/FileUploadRequest"
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/File"
          description: File added
        '400':
          description: The image provided could not be serialized
        '404':
          description: No Account with the specified accountID was found
        '422':
          description: The request body could not be processed
        '429':
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    get:
      summary: List files
      operationId: listFiles
      description: List all the files associated with a particular Moov account. <br><br>
        To use this endpoint, you need to specify the `/accounts/{accountID}/files.read`
        scope.
      tags:
      - Files
      parameters:
      - "$ref": "#/components/parameters/AccountID"
      responses:
        '200':
          description: Successfully retrieved files
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Files"
        '404':
          description: No Account with the specified accountID was found
        '429':
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/files/{fileID}":
    get:
      summary: Get File Details
      operationId: getFileDetails
      description: Retrieve file details associated with a specific Moov account.
        <br><br> To use this endpoint, you need to specify the `/accounts/{accountID}/files.read`
        scope.
      tags:
      - Files
      parameters:
      - "$ref": "#/components/parameters/AccountID"
      - "$ref": "#/components/parameters/FileID"
      responses:
        '200':
          description: Successfully retrieved file Details
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/File"
        '404':
          description: No Account with the specified accountID was found
        '429':
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/underwriting":
    get:
      summary: Retrieve underwriting details
      operationId: getUnderwriting
      description:
        Retrieve underwriting associated with a given Moov account. <br><br>
        To get an account's underwriting details, you'll need to specify the `/accounts/{accountID}/underwriting.read`
        scope.
      tags:
        - Underwriting
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      responses:
        "200":
          description: Underwriting details successfully retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Underwriting"
        "404":
          "$ref": "#/components/schemas/Empty"
        default:
          "$ref": "#/components/schemas/Empty"
    put:
      summary: Update underwriting details
      operationId: updateUnderwriting
      description:
        Update the account's underwriting by passing new values for one
        or more of the fields. <br><br> To update an account's underwriting details,
        you'll need to specify the `/accounts/{accountID}/profile.write` scope.
      tags:
        - Underwriting
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UnderwritingRequest"
      responses:
        "200":
          description: The underwriting details were successfully updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Underwriting"
        "404":
          "$ref": "#/components/schemas/Empty"
        "409":
          description:
            The account is currently in a state where underwriting details
            cannot be updated
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/payment-methods":
    get:
      summary: List payment methods
      operationId: listPaymentMethods
      description:
        Retrieve a list of payment methods associated with a Moov account.
        <br><br> To list payment methods, you must specify the `/accounts/{accountID}/payment-methods.read`
        scope.
      tags:
        - Payment methods
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - name: sourceID
          in: query
          required: false
          description:
            Optional parameter to filter the account's payment methods by
            source ID.
          example: ec7e1848-dc80-4ab0-8827-dd7fc0737b43
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successfully retrieved payment methods
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentMethods"
        "404":
          description: No account with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/payment-methods/{paymentMethodID}":
    get:
      summary: Get payment method
      operationId: getPaymentMethod
      description:
        Get the specified payment method associated with a Moov account.
        <br><br> To get a payment method, you must specify the `/accounts/{accountID}/payment-methods.read`
        scope.
      tags:
        - Payment methods
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/PaymentMethodID"
      responses:
        "200":
          description: Successfully retrieved payment method
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentMethod"
        "404":
          description: No payment method with the specified accountID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/capabilities/{capabilityID}":
    get:
      summary: Get capability for account
      operationId: getCapability
      description:
        Retrieve a specific capability that an account has requested. <br><br>
        To use this endpoint, you must specify the `/accounts/{accountID}/capabilities.read`
        scope.
      tags:
        - Capabilities
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/CapabilityID"
      responses:
        "200":
          description: The requested capability
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Capability"
        "404":
          description: No Account with the specified capabilityID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    delete:
      summary: Disable a capability for an account
      operationId: deleteCapability
      description:
        Disable a specific capability that an account has requested. <br><br>
        To use this endpoint, you must specify the `/accounts/{accountID}/capabilities.write`
        scope.
      tags:
        - Capabilities
      parameters:
        - "$ref": "#/components/parameters/AccountID"
        - "$ref": "#/components/parameters/CapabilityID"
      responses:
        "204":
          description: The capability has been disabled.
        "404":
          description: No Account with the specified capabilityID was found
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/accounts/{accountID}/capabilities":
    get:
      summary: List capabilities for account
      operationId: listCapabilities
      description:
        Retrieve all the capabilities an account has requested. <br><br>
        To use this endpoint, you need to specify the `/accounts/{accountID}/capabilities.read`
        scope.
      tags:
        - Capabilities
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      responses:
        "200":
          description: The list of capabilities for the account
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Capability"
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
    post:
      summary: Request capabilities
      x-speakeasy-name-override: request
      operationId: postCapability
      description:
        Request capabilities for a specific account. <br><br> To use this
        endpoint, you must specify the `/accounts/{accountID}/capabilities.write`
        scope.
      tags:
        - Capabilities
      parameters:
        - "$ref": "#/components/parameters/AccountID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AddCapabilityRequest"
      responses:
        "200":
          description: The list of capabilities for the account
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Capability"
        "404":
          description: No Account with the specified accountID was found
        "409":
          description:
            The request could not be processed due to a state conflict
            with the target resource
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CapabilityRequestError"
        "422":
          description: The request body could not be processed
        "429":
          "$ref": "#/components/schemas/RateLimited"
        default:
          "$ref": "#/components/schemas/Empty"
  "/industries":
    get:
      summary: List all industries
      operationId: getIndustries
      x-speakeasy-name-override: getIndustries
      description: |
        Returns a list of all industry titles and their corresponding MCC/SIC/NAICS codes. Results are ordered by title.
        <br><br> To list industries, you must specify the `/profile-enrichment.read` scope.
      tags:
        - Enrichment
      responses:
        "200":
          description: A list of industries and their codes
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Industries"
  "/institutions/{rail}/search":
    get:
      tags:
        - Institutions
      summary: Search institutions
      description:
        Search for institutions by their routing number or name. <br><br>
        To use this endpoint, you need to specify the `/fed.read` scope.
      operationId: searchInstitution
      parameters:
        - "$ref": "#/components/parameters/Rail"
[...]
