# ~~VerificationStatus~~

This field is deprecated but available for use until February 2023.


## Values

| Name                           | Value                          |
| ------------------------------ | ------------------------------ |
| `VerificationStatusUnverified` | unverified                     |
| `VerificationStatusPending`    | pending                        |
| `VerificationStatusVerified`   | verified                       |
| `VerificationStatusErrored`    | errored                        |